# Auto detect text files and perform LF normalization
* text=auto
*.html filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
data/datasets/combined_dataset.csv filter=lfs diff=lfs merge=lfs -text
data/datasets/qqp.csv filter=lfs diff=lfs merge=lfs -text
data/datasets/sts.csv filter=lfs diff=lfs merge=lfs -text
data/datasets/sample_qqp.csv filter=lfs diff=lfs merge=lfs -text
data/datasets/Yelp_human.csv filter=lfs diff=lfs merge=lfs -text
data/datasets/Yelp_Random_human.csv filter=lfs diff=lfs merge=lfs -text
data/reports/wandb_sweeping_top4.csv filter=lfs diff=lfs merge=lfs -text
data/reports/wandb_sweeping.csv filter=lfs diff=lfs merge=lfs -text
data/reports/wandb_sweeping_ivanfeatures.csv filter=lfs diff=lfs merge=lfs -text
data/reports/wandb_total_experiment.csv filter=lfs diff=lfs merge=lfs -text
data/reports/filtering_heuristic_sweeps.csv filter=lfs diff=lfs merge=lfs -text
